---
# Deployment Workflow
name: deploy

on:
    workflow_dispatch:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
    PYTHON_VERSION: '3.9'
    POETRY_VERSION: '1.4.2'
    CACHE_PATHS: |
        .venv
        ~/.local
        ~/.cache/pre-commit
    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

permissions:
    id-token: write
    contents: read

jobs:
    Deploy:
        name: Deploy
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - id: pre-commit
              uses: Kristina-Pianykh/poetry-pre-commit-cache@main
              with:
                  python-version: ${{ env.PYTHON_VERSION }}
                  poetry-version: ${{ env.POETRY_VERSION }}
                  cache-paths: ${{ env.CACHE_PATHS }}

            - name: Azure Login
              uses: azure/login@v1
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: ACR Login
              uses: azure/docker-login@v1
              with:
                  login-server: streamlittoyappacr.azurecr.io
                  username: ${{ secrets.ACR_USERNAME }}
                  password: ${{ secrets.ACR_PASSWORD }}

            - name: Deploy Terraform
              run: |
                  ./terraform_deploy.sh
